@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
}

.background {
    background-color: none;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100px;
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    color: #EBD3AD;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
}

main>div>div>p {
    font-size: 30px;
    color: black;
    width: 700px;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
}

nav>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 80px;
    height: auto;
}

.nav-ul {
    display: flex;
    list-style: none;
    gap: 100px;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
}

a>li:hover {
    border-bottom: solid #EBD3AD 2px;
}

a {
    text-decoration: none;
    color: #000;
}

.icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.instagram-icon {
    width: 25px;
    height: auto;
    margin: -4px;
}

.insta-a {
    width: 40px;
    height: 40px;
    border: solid black 2px;
    padding: 10px;
    border-radius: 50%;
}

.instagram-icon:hover {
    transform: scale(1.1);
}

.whatsapp-icon {
    width: 25px;
    height: auto;
    margin: -4px;
}

.whatsapp-a {
    width: 40px;
    height: 40px;
    border: solid black 2px;
    padding: 10px;
    border-radius: 50%;
}

.whatsapp-icon:hover {
    transform: scale(1.1);
}

.slide-container {
    width: 100%;
}


/* Hide the images by default */
.mySlides {
    display: none;
    width: 100%;
    height: auto;
}

.mySlides:first-child {
    display: block;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 100px;
    margin-top: -22px;
    padding: 16px;
    color: #EBD3AD;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #F7F7F7;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    box-shadow: 4px 4px;
}

/* Caption text */ 
.text>h2 {
    color: #f2f2f2;
    font-size: 100px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-bottom: 300px;
}
.text>p {
    color: #f2f2f2;
    font-size: 40px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-bottom: 250px;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: lightgrey;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #EBD3AD;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



.vak1{
    display: flex;
}

.vak2{
    display: flex;
    
}

.vak2>div>h2{
    margin-top: 80px;
    margin-left: 50px;
    color: #EBD3AD;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.vak2>div>p{
    margin-top: 20px;
    margin-left: 50px;
    width: 200px;
    font-size: 25px;
}

.vloer-3{
    width: 350px;
    height: auto;
    margin-left: 150px;
}

.trap-2{
    width: 800px;
    margin-top: 60px;
    margin-left: 30px;
}